.tela-cadastro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .cadastrar {
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 30px;
  }

  .mensagem-erro {
    margin-top: 4px;
    color: red;
    font-size: 12px;
  }

  .form-field {
    margin-bottom: 20px;
  }

  input, select {
    width: 300px;
  }

  .button, button {
    margin: 10px 10px 0 auto;
    width: 140px;
    height: 30px;
  }
}